openapi: 3.1.0
info:
  title: PromptWall API
  version: "1.0.0"
  description: |
    Runtime control layer for LLM-based applications. Detects prompt
    injection, verifies answer grounding, enforces policies, and archives
    audit trails.
  contact:
    email: support@prompt-wall.com
    url: https://www.prompt-wall.com

servers:
  - url: https://api.prompt-wall.com
    description: Production

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key (starts with pk_)

  schemas:
    VerifyRequest:
      type: object
      required: [prompt, answer]
      properties:
        prompt:
          type: string
          description: The user's original question
          example: "What is the capital of France?"
        answer:
          type: string
          description: The proposed answer to validate
          example: "Paris is the capital of France."
        tool_result:
          oneOf: [{type: string}, {type: object}, {type: "null"}]
          description: Source material the answer should be grounded in
          example: "Paris"
        verified_source_used:
          type: boolean
          description: Whether a verified tool was consulted
          default: false
        grounding_required:
          type: boolean
          description: "Override: force grounding verification"
          default: false

    VerifyResponse:
      type: object
      properties:
        ok:
          type: boolean
        answer:
          type: string
          description: Final answer (may be rewritten if governance=rewrite)
        changed:
          type: boolean
          description: Whether the answer was modified by enforcement
        confidence:
          type: string
          enum: [high, medium, low]
        evidence_consistent:
          type: boolean
        governance:
          type: string
          enum: [allow, rewrite, block, regenerate]
        mismatch_type:
          type: string
          enum: [none, contradiction, numeric, insufficient_evidence, unsupported_inference]
        latency_ms:
          type: integer
        matches:
          type: array
          items: {type: string}
          description: Security pattern matches (if any)
        pipeline:
          type: object
          properties:
            scanner: {type: string}
            policy: {type: string}
            judge: {type: string}
            enforcement: {type: string}
        request_id:
          type: string

    ChatRequest:
      type: object
      required: [prompt]
      properties:
        prompt:
          type: string
        messages:
          type: array
          description: Optional conversation history
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant, tool]
              content:
                type: string
        model:
          type: string
          description: Override default model
          example: "gpt-4o-mini"
        provider:
          type: string
          enum: [openai, anthropic, google, azure, bedrock]
        temperature:
          type: number
          default: 0.2

    ChatResponse:
      type: object
      properties:
        ok: {type: boolean}
        answer: {type: string}
        confidence: {type: string}
        governance_action: {type: string}
        verified_source_used: {type: boolean}
        policy: {type: string}
        latency_ms: {type: integer}
        tokens:
          type: object
          properties:
            prompt: {type: integer}
            completion: {type: integer}
            total: {type: integer}
        matches:
          type: array
          items: {type: string}
        request_id: {type: string}

    ToolRegisterRequest:
      type: object
      required: [name, webhook_url, auth_type]
      properties:
        name:
          type: string
          description: Unique name for this tool within your tenant
          example: "billing_api"
        description:
          type: string
        category:
          type: string
          enum: [custom, metrics, crm, database, search, api]
          default: custom
        webhook_url:
          type: string
          format: uri
          example: "https://api.acme.com/v1/billing"
        auth_type:
          type: string
          enum: [bearer, api_key, hmac, none]
        auth_token:
          type: string
          description: Credentials (encrypted at rest with Fernet + KMS)
        param_schema:
          type: object
          description: JSON Schema (draft 2020-12) for tool parameters
        grounding_keywords:
          type: array
          items: {type: string}
          example: ["revenue", "mrr", "billing"]
        trust_tier:
          type: string
          enum: [untrusted, customer, verified]
          default: customer
        timeout_ms:
          type: integer
          default: 5000
        rate_limit_rpm:
          type: integer
          default: 60

    ErrorResponse:
      type: object
      properties:
        ok: {type: boolean, enum: [false]}
        error:
          type: object
          properties:
            code: {type: string}
            message: {type: string}

paths:
  /v1/verify:
    post:
      summary: Verify an answer against a tool result
      description: |
        Validates an answer's consistency with the provided source. Does NOT
        call an LLM — fast and cheap, ideal when you already have an answer.
      operationId: verify
      tags: [Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
        "402":
          description: No active subscription
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
        "429":
          description: Plan quota exceeded
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}

  /v1/chat:
    post:
      summary: Full governed chat completion
      description: |
        Runs the full pipeline: scanner → policy → grounding → tool → LLM →
        judge → enforcement. LLM provider determined by your API key's mode
        (BYOK or Managed).
      operationId: chat
      tags: [Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        "200":
          description: Governed chat response
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ChatResponse'}
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}
        "422":
          description: Blocked by policy
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorResponse'}

  /v1/tools/registry:
    post:
      summary: Register a webhook tool
      operationId: registerTool
      tags: [Tools]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ToolRegisterRequest'}
      responses:
        "201":
          description: Tool registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string}
                  name: {type: string}
                  signing_secret:
                    type: string
                    description: Save this — used to verify HMAC signatures on webhook calls
    get:
      summary: List all tools for your tenant
      operationId: listTools
      tags: [Tools]
      responses:
        "200":
          description: List of registered tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: array
                    items: {$ref: '#/components/schemas/ToolRegisterRequest'}

  /v1/tools/registry/{id}/test:
    post:
      summary: Test a tool's webhook connectivity
      operationId: testTool
      tags: [Tools]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: string}
      responses:
        "200":
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: {type: boolean}
                  status_code: {type: integer}
                  latency_ms: {type: integer}

  /v1/usage:
    get:
      summary: Current period usage
      operationId: getUsage
      tags: [Usage]
      responses:
        "200":
          description: Current usage snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests_used: {type: integer}
                  requests_included: {type: integer}
                  tokens_used: {type: integer}
                  period_start: {type: string, format: date}
                  period_end: {type: string, format: date}
                  overage_usd: {type: number}

  /v1/usage/timeseries:
    get:
      summary: Usage over time
      operationId: getUsageTimeseries
      tags: [Usage]
      parameters:
        - name: days
          in: query
          schema: {type: integer, default: 7}
      responses:
        "200":
          description: Time-series data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp: {type: string, format: date-time}
                    requests: {type: integer}
                    tokens: {type: integer}
